/* 1st Part: Popular Collection */
/* Font */

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Domine:wght@500;600&family=Noto+Serif:wght@700&family=Outfit:wght@500&family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background: rgba(255, 255, 255, 0.993)
}

#shopping-icon{
    padding-left: 50em;
}
h3{
    font-size: 30px;
    color: #3A3A3A;

}
h1{
    font-size: 60px;
    font-weight: bold;
    color: #3A3A3A;
    padding-top: 100px;
}
p{
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #3A3A3A;
    padding-bottom: 20px;
    

}
.influencer-products{
    display: flex;
    justify-content: center;
    align-items:center;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}


.half-width img{
    width: 70%;
    margin-top: 80px;
    padding-top: 100px;

}

.button-1{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 14px 30px;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    letter-spacing: 0.10em;
}

/* 3rd Part: Popular Collection */
.section-title-collection{
    margin-top: 150px;
    font-size: 35px;
    color: #3A3A3A;
}

/* ----------Collection:Styles--------- */
.collection-1{
    display: grid;
    padding-left: 300px;

    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    grid-column-gap: 30px;
    width: 1000px;
}
.collection-container{

    background-color: #FFFFFF;
    width: 870px;
    border-radius: 5px;

}

.popular-collection{

    background-color: rgba(255, 253, 251, 0.884);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    
}
.section-title-collection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 700px;
    width: 600px;
    margin-bottom: 60px;
}

.collection-info{
    padding-left: 15px;
}


.collection-title{
    font-size: 35px;
    font-weight: 400;
    color: #18191F;
   
}
.price{
    font-size: 30px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    line-height: 100%;
}
.popular-collection .collection-banner img{
    width: 380px;
    height: 300px;
}
.collection-ratings{
    color: #5E6366;
}
.para-info{
    line-height: 25px;
    color: #787885;
    letter-spacing: 0.01em;
    font-size: 20px;

}

.fa-star{
    font-size: 16px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: #AEAEAE;
}
.button-2{
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;

}
.see-more{
    font-size: 20px;
    text-decoration: none;
    color:  #E02C6D;

}

.featured-smart-watch{
    display: flex;
    justify-content: center;
    align-items:center;

}


.smart-watch{
    width: 60%;

    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 70px;


}
.smart-watch img{
    width: 50%;
    padding-left: 25%;
}
#smart-para{
    color: #6C6C6C;
    padding-right: 10%;
    padding-bottom: 5%;
}
.title-watch{
    font-size: 50px;
    color: #0A0826;

}

.button-3{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 14px 30px;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    letter-spacing: 0.10em;
}

.footer-part{
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.footer-para1{
    font-weight: bold;
    color: white;
    font-size: 25px;
}
.footer-para2{
    font-weight: normal;
    color: #D9DBE1;
    font-size: 16px;
}

.fa-facebook{
    padding-right: 20px;
}
.fa-youtube{
    padding-left: 20px;
}
.fa-twitter{
    padding-left: 20px;
}